
{% extends 'base.html' %}
<!-- Django 版本 {{ version }} -->
{% block content %}

    {% include 'sqlmng/modal_dbconf.html' %}

    <ol class="breadcrumb">
        <li><a href="/dashboard/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> 数据库</li>
    </ol>


    <div style="border: none; margin-top: 20px;border:0;">
        <div class="col-lg-4" role="group" aria-label="...">
            <button id="create_btn" type="button" class="btn btn-primary dropdown-toggle" style=" margin-left: 15px">注册数据库</button>
        </div>
        <div class="col-lg-offset-4" style="width: 300px">
            <div class="input-group">
                <input id="search" type="text" class="form-control"  placeholder="Search for...">
                <span class="input-group-btn">
                <button  id="search_btn" class="btn btn-default"  style="width: 100px;" type="button">Go!</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>


    <div class="panel panel-default" style="border: none">
        <table class="table" ; style="margin-left: 30px ;margin-top: 20px">

        <tr style="background-color: aqua">
            <th>id</th>
            <th>数据库名</th>
            <th>用户</th>
            <th>密码</th>
            <th>地址</th>
            <th>端口</th>
            <th>环境</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
            {% for obj in paginator_data %}
                <tr>
                        <td><a href="/cmdb/idcs/{{ obj.id }}/">{{ obj.id }}</a></td>
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.user }} </td>
                        <td>{{ obj.password }}</td>
                        <td>{{ obj.address }}</td>
                        <td>{{ obj.port }}</td>
                        <td>{{ obj.env_name }}</td>
                        <td>{{ obj.remark }}</td>
                        <td><button class="delete_btn btn btn-warning dropdown-toggle" id="{{ obj.id }}" >删除</button>
                        <button class="edit_btn btn btn-warning dropdown-toggle" id="{{ obj.id }}"  >修改</button>
                        </td>

                </tr>
            {% endfor %}
        </table>
    </div>


    <nav aria-label="Page navigation" style="margin-left: 30px; text-align: center;">
        <ul class="pagination pagination-lg pager" style="display: inline-block;">

            <li><a  href='?page=1&search={{ search }}'><span>首页</span></a></li>

            {% if paginator_data.has_previous %}
                <li><a  href='?page={{ paginator_data.previous_page_number }}&search={{ search }}'><span>上一页</span></a></li>
            {% endif %}

            {% for page in  paginator_data.paginator.page_range%}
                {% if paginator_data.number == page %}
                    <li><span  id="current_page">{{ page }}</span></li>
                {% else %}
                    <li><a  href='?page={{ page }}&search={{ search }}' title='{{ page }}'><span>{{ page }}</span></a></li>
                {% endif %}
            {% endfor %}

            {% if paginator_data.has_next %}
                <li><a  href='?page={{ paginator_data.next_page_number }}&search={{ search }}'><span>下一页</span></a></li>
            {% endif %}

            <li><a  href='?page={{ page_count }}&search={{ search }}'><span>末页</span></a></li>
        </ul>
    </nav>



      <!--jquery -->
    <script >

        //创建表单
        $('#create_btn').click(function () {
            $('#create_modal').modal()
        })

        $('#create_in').click(function () {
            var name = $('#name').val()
            var user = $('#user').val()
            var password = $('#password').val()
            var address = $('#address').val()
            var port = $('#port').val()
            var env = $('#env option:selected').attr('id')
            var remark= $('#remake').val()

            type = 'POST' // GET,POST,DELETE,PUT, ...
            url = '/sqlmng/dbconf/'
            data = {name:name,user:user,password:password,address:address,port:port,env:env,remark:remark}
            $.ajax({
                type: type,
                url: url,
                data: data, // 前端传给后端的数据
                dataType: "json",
                success: function(result){ // 后端返回的数据
                    if (result.status == 0) {
                        location.reload()
                    }
                    else if (result.status == 1){
                        alert('请勿重复创建')
                    }
                    else {
                        alert('系统错误')
                    }
                },
                error: function(){
                    //显示错误信息
                },
             })
         })

    //删除表单数据
        $('.delete_btn').click(function () {
            var id = $(this).attr('id').trim()
            console.log(id)
            type = 'DELETE' // GET,POST,DELETE,PUT, ...
            url = '/sqlmng/dbconf/' + id
            data = {}
            $.ajax({
                type: type,
                url: url,
                data: data, // 前端传给后端的数据
                dataType: "json",
                success: function(data){ // 后端返回的数据
                    console.log(data)
                    location.reload()
                },
                error: function(){
                    //显示错误信息
                },
             })
         })

    //修改表单
       $('.edit_btn').click(function () {
            var id = $(this).parents('tr').children('td').eq(0).text().trim()
            var name = $(this).parents('tr').children('td').eq(1).text()
            var user = $(this).parents('tr').children('td').eq(2).text()
            var password = $(this).parents('tr').children('td').eq(3).text()
            var address = $(this).parents('tr').children('td').eq(4).text()
            var port = $(this).parents('tr').children('td').eq(5).text()
            var env = $(this).parents('tr').children('td').eq(6).text()
            var remark = $(this).parents('tr').children('td').eq(7).text()
            console.log(remark)
            document.getElementById("id_edit").value =id
            document.getElementById("name_edit").value =name
            document.getElementById("user_edit").value =user
            document.getElementById("password_edit").value =password
            document.getElementById("address_edit").value =address
            document.getElementById("port_edit").value =port
            document.getElementById("env_edit").value =env
            document.getElementById("remark_edit").value =remark
            $('#edit_modal').modal()
       })




        $('#edit_in').click(function () {
            var id = $('#id_edit').val().trim()
            var name = $('#name_edit').val()
            var user = $('#user_edit').val()
            var password = $('#password_edit').val()
            var address = $('#address_edit').val()
            var port = $('#port_edit').val()
            var env = $('#env_edit option:selected').attr('id')
            var remark= $('#remark_edit').val()

            type = 'PUT' // GET,POST,DELETE,PUT, ...
            url = '/sqlmng/dbconf/' + id
            console.log(url)
            data = {name:name,user:user,password:password,address:address,port:port,env:env,remark:remark}
            $.ajax({
                type: type,
                url: url,
                data: data, // 前端传给后端的数据
                dataType: "json",
                success: function(data){ // 后端返回的数据
                    if (data.status == 0){
                        location.reload()
                    }
                    else if (data.status == 1){
                        alert('名称重复')
                    }
                    else {
                        alert('系统错误')
                    }
                },
                error: function(){
                    //显示错误信息
                },
             })
         })

    //search
    $('#search_btn').click(function () {
        var search = $('#search').val()
        window.location.href = '/sqlmng/dbconf/?search='+search
    })

    </script>
{% endblock %}