{% extends 'base.html' %}

{% block content %}
    {% include 'sqlmng/modal_inception.html' %}
    <ol class="breadcrumb">
        <li><a href="/dashboard/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> Sql审核</li>
    </ol>

    <div class="row">
        <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">请输入需要上线的SQL语句</div>
            <div class="panel-body">
                <div class="col-sm-7">
                    <textarea id="sql_content" style="margin-bottom:20px" placeholder="SQL语句" class="col-xs-10 col-sm-12" rows="12"></textarea>
                    <input id="remark" type="text" class="form-control" placeholder="备注" />
                </div>
                <div class="col-sm-5">
                    <div>
                        <div class="col-sm-2">
                            <span style="font-size:16px; color:#4682B4; font-weight:bold "> 环境 </span>
                        </div>
                        <div class="col-sm-7">
                            <label style="margin-right:20%">
                                <input value="1" name="form-field-radio" type="radio" class="ace" />
                                <span class="lbl"> 测试</span>
                            </label>
                            <label>
                                <input value="2" name="form-field-radio" type="radio" class="ace" />
                                <span class="lbl"> 生产</span>
                            </label>
                        </div>
                    </div>
                    </br>
                    </br>
                    <div>
                        <div class="col-sm-2"> <span style="font-size:16px; color:#4682B4; font-weight:bold" >数据库</span> </div>
                        <div class="col-sm-7">
                            <select id='db_name' class="form-control" >
                            </select>
                        </div>
                    </div>
                    </br>
                    </br>
                    </br>
                    <div>
                        <div class="col-sm-2"> <span style="font-size:16px; color:#4682B4; font-weight:bold" >执行人 </span></div>
                        <div class="col-sm-7">
                            <select id='treater' class="form-control">
                            </select>
                        </div>
                    </div>
                </div>
            </div>

        <div class="clearfix form-actions">
          <div class="col-md-offset-0 col-md-12" style="margin-left:15%">
            <button id='check' style="margin-top:20px" class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                提交
            </button>
            <button  id="clear" style="margin-top:20px; margin-left:15%" class="btn reset">
                <i class="icon-undo bigger-110"></i>
                清空
            </button>
          </div>
        </div>
        </div>
        </div>
    </div>

    <script>
    //根据申请人和环境判断审核人
    $('.ace').change(function () {
        var env = $('input[name="form-field-radio"]').filter(':checked').val()
        data = {'env': env}
        $.ajax({
            type: 'POST',
            url: '/sqlmng/API_DB_env/',
            data: data,
            dataType: "json",
            success: function (result){
                $('#db_name').empty()
                $('#treater').empty()
                options = ''
                user_options = ''
                for (data of result.data ){
                    option = '<option>' + data.name + '</option>'
                    options += option
                }
                $('#db_name').append(options)
                users = result.user
                console.log(users)
                for (user of users) {
                    user_option = '<option>' + user + '</option>'
                    user_options += user_option
                    console.log(user_options)
                }
                $('#treater').append(user_options)
            },
            error: function () {

            }
        })
    })

    //提交按钮
    $('#check').click(function () {
        var env = $('input[name="form-field-radio"]').filter(':checked').val()
        var sql_conent = $('#sql_content').val()
        var db_name = $('#db_name option:selected').val()
        var remark = $('#remark').val()
        var treater = $('#treater option:selected').val()
        data = {'env':env, 'sql_conent': sql_conent, 'db_name': db_name, 'treater': treater, 'remark': remark}
        $.ajax({
            type: 'POST',
            url: '/sqlmng/inception_check/',
            data: data,
            dataType: 'json',
            success: function (res) {
                console.log(res)
                status = res.status
                result = res.result
                if (status == 0){
                    htmls ='<b>提交成功 </b>'
                    $('#sql_error_detial').html(htmls)
                    $('#sql_error_modal').modal()
                    $('#sql_content').val('')
                    $('#remark').val('')
                }
                if (status == 1){
                    htmls ='<b>'+ result + '</b>'
                    $('#sql_error_detial').html(htmls)
                    $('#sql_error_modal').modal()
                }

            },
            error: function () {

            }

        })
    })

    //清空按钮
    $('#clear').click(function () {
        $('#sql_content').val('')
        $('#remark').val('')
    })
    </script>
{% endblock %}