<!-- 模态框（Modal） -->
<div class="modal fade" id="create_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					注册表
				</h4>
			</div>
			<div class="modal-body">
                数据库名 : <input id="name" class="form-control" type="text" > <br>
				用户名 : <input id="user" class="form-control" type="text" > <br>
                密码 : <input id="password" class="form-control" type="text" > <br>
                地址 : <input id="address" class="form-control" type="text" > <br>
                端口 : <input id="port" class="form-control" type="text" > <br>
                环境 : <select id="env" class="form-control" type="text" ><option id="1">测试</option><option id="2">生产</option></select>  <br>
                备注 : <input id="remark" class="form-control" type="text" >
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button id="create_in" type="button" class="btn btn-primary">
					注册
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					表单
				</h4>
			</div>
			<div class="modal-body">
                ID : <input id="id_edit" class="form-control" type="text" readonly="readonly"> <br>
                数据库名 : <input id="name_edit" class="form-control" type="text" > <br>
				用户名 : <input id="user_edit" class="form-control" type="text" > <br>
                密码 : <input id="password_edit" class="form-control" type="text" > <br>
                地址 : <input id="address_edit" class="form-control" type="text" > <br>
                端口 : <input id="port_edit" class="form-control" type="text" > <br>
                环境 : <select id="env_edit" class="form-control" type="text"  > <option id="1">测试</option><option id="2">生产</option></select><br>
                备注 : <input id="remark_edit" class="form-control" type="text" >
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button id="edit_in" type="button" class="btn btn-primary">
					确认修改
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>



